.details_title {
    font-size: 30px;
    font-weight: 600;
    line-height: 35.16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.details_text-box {
    width: 317px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.details-description {
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    color: #B9B9B9;
}

.details-warrantyInformation {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    color: #E81A1A;
}

.details-card {
    width: 290px;
    padding: 40px 25px;
    box-shadow: 
        4px 2px 4px 0 rgb(0, 0, 0, 10%), 
        -4px 0 4px 0 rgb(0, 0, 0, 10%);
    border-radius: 10px;
    background-color: #FBFBFB;
}

.price {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.details-card-btn {
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: var(--accentColor);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.text-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}